-# %h1 Calculs
-# %p tester votre calcul mental
#content
  .calculs
    .row.center-xs.center-sm.center-md.center-lg
      .col-xs.col-sm.col-md.col-lg
        #operation
          = @operation
        %p
          = form_tag do
            = text_field_tag(:result, nil, { autocomplete: "off", autofocus: "true", id: "answer-input" } )
            = hidden_field_tag(:good_result, value = @result)

  .results
    .row.center-xs.center-sm.center-md.center-lg
      .col-xs.col-sm.col-md.col-lg
        = render partial: "results", locals: { answer: @answer, good_result: @good_result }
